@import 'src/styles/variables/variables';

.input {
  display: flex;
  align-items: center;

  input {
    height: 48px;
    border: 1px solid $borderColor;
    border-radius: 8px;
    &:hover {
      border: 1px solid $hoverBlueColor;
    }
  }
  .searchButton {
    background: $blueColor;
    border-radius: 8px;
    &:hover {
      background-color: $hoverBlueColor;
    }
  }
}
