@import 'src/styles/variables/variables';
.header {
  background-color: #fff;
  .headerWrapper {
    display: flex;
    align-items: center;
    height: 84px;
    .logo {
      display: flex;
      align-items: center;
      column-gap: 12px;
      .logoText {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
    .herderMenu {
      margin: 0 auto;
      width: 450px;
      @media (max-width: 576px) {
        width: 250px;
      }
      .herderMenuItems {
        display: flex;
        align-items: center;
        column-gap: 60px;
        @media (max-width: 576px) {
          column-gap: 30px;
        }
        .Item {
          list-style-type: none;
          > a {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
          }
          .active {
            font-weight: 500;
            color: $blueColor;
          }
        }
      }
    }
  }
}
