$blueColor: #5e96fc;
$blueColorLight: #deecff;
$hoverBlueColor: #92c1ff;
$blueColorDark: #3b7cd3;

$greyColor: #acadb9;
$greyColor300: #d5d6dc;
$greyColorLight: #eaebed;
$blackColor: #232134;

$bgColor: #f5f5f5;
$bgWhiteColor: #fff;
$borderColor: #eaebed;
