@import 'src/styles/variables/variables';

.select {
  margin-bottom: 20px;
  .rightSection {
    pointer-events: none;
  }
  .wrapperItems {
    width: 100%;
    white-space: normal;

    .selectItem {
      word-wrap: break-word;
      white-space: normal;
      &:hover {
        background-color: $hoverBlueColor;
      }
    }
  }
  input {
    border: 1px solid $borderColor;
    border-radius: 8px;
    height: 42px;
    &:hover {
      border: 1px solid $hoverBlueColor;
    }
  }
  .dropDowOpen {
    transition: 0.3s;
    transform: rotate(180deg);
    path {
      stroke: $hoverBlueColor;
    }
  }
}
