@import 'src/styles/variables/variables';

.select {
  margin-bottom: 20px;
  input {
    border: 1px solid $borderColor;
    border-radius: 8px;
    height: 42px;
    &:hover {
      border: 1px solid $hoverBlueColor;
    }
    .item {
      &:hover {
        background-color: $hoverBlueColor;
      }
    }
    .dropdown[data-selected] {
      background-color: $blueColor;
    }
  }
}
