@import 'src/styles/variables/variables';

.filtersWrapper {
  height: 100%;
  width: 315px;
  margin: 0 auto;
  padding: 19px;
  background: $bgWhiteColor;
  border: 1px solid $borderColor;
  border-radius: 12px;

  @media (max-width: 768px) {
    width: 100%;
  }
  .filtersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 32px;
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
    }
    .filterReset {
      padding: 0;
      background-color: transparent;
      color: $greyColor;
      font-size: 14px;
      font-weight: 500;
      & :hover {
        color: $hoverBlueColor;
        line {
          stroke: $hoverBlueColor;
        }
      }
    }
  }
  .titleFilter {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  .inputNumber {
    input {
      border: 1px solid $borderColor;
      border-radius: 8px;
      margin-bottom: 8px;
      height: 42px;
      &:hover {
        border: 1px solid $hoverBlueColor;
      }
    }
  }
  .buttonApply {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    height: 40px;
    margin-top: 20px;
    background-color: $blueColor;
    &:hover {
      background: $hoverBlueColor;
    }
  }
}
