.arrowBox {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.arrowTop {
  transform: rotate(180deg);
  width: 14px;
  height: 14px;
  cursor: pointer;
  stroke-width: 2.5;
  &:hover {
    > path {
      stroke: #5e96fc;
    }
  }
}
.arrowBottom {
  width: 14px;
  height: 14px;
  cursor: pointer;
  stroke-width: 2.5;

  &:hover {
    > path {
      stroke: #5e96fc;
    }
  }
}
